<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <h1>The Gossip Project</h1>
    <br />

    <h2><em>Tous les potins du Bootcamp Game :</em></h2>
    <br />
    <div class="container">
      <% @gossips.each do |gossip| %>
      <% id = gossip.id %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= gossip.user.first_name%> <%= gossip.user.last_name%></h6>
          <p class="card-text"><%= gossip.content%></p>
          <a href="#" class="card-link"><%= link_to 'lien', gossip_path(id) %></a>
        </div>
      </div>
      <% end %>
    </div>
  <script src="index.js"></script>
  </body>
</html>


