 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gossip</title>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <br />
    <div> <em>Prénom</em> : <%= @user.first_name %></div>
    <div> <em>Nom</em> : <%= @user.last_name %></div>
     <div> <em>Age</em> : <%= @user.age %></div>
     <div> <em>Ville</em> : <%= @user.city.name %></div>
    <div> <em>Description</em> : <%= @user.description %></div>
     <div> <em>Email</em> : <%= @user.email %></div>
     <br />
     <div class="emphasis">Tous les potins de <%= @user.first_name %> :</div>
     <br />
     <ul>
      <% @user_gossips.each do |gossip| %>
      <li>
        <% id = gossip.id %>
        <span class="potin">Potin n° <%= id%></span>
        <br />
        <span><em>Titre</em> :</span>
        <%= gossip.title %>
        <br />
        <span><em>Contenu :</em> </span>
        <%= gossip.content%>
        <br />
      </li>
      <br />
      <% end %>
    </ul>

  <script src="index.js"></script>
  </body>
</html>


